
<!-- src/app/features/company/dashboard.component.html -->
<div class="dashboard">
  <aside class="sidebar">
    <!--add User name from profile-->
    <h3> {{ userName }} </h3>
    <p>Email: {{ email }}</p>
    <nav>
      <a routerLink="jobs" [queryParams]="{email:email}" routerLinkActive="active">Post Jobs</a>
      <a routerLink="interview"  [queryParams]="{email:email}"  routerLinkActive="active">Schedule interview</a>
      <a routerLink="messages"  [queryParams]="{email:email}"  routerLinkActive="active">Messages</a>
      
    </nav>
  </aside>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
<!-- End of src/app/features/company/dashboard.component.html -->