
<!-- src/app/features/student/dashboard.component.html -->
<div class="dashboard">
  <aside class="sidebar">
    <!--add User name from profile-->
    <h3> {{ userName }} </h3>
    <p>Email: {{ email }}</p>
    <nav>
      <a routerLink="profile" [queryParams]="{email:email}" routerLinkActive="active">Profile</a>
      <a routerLink="resume"  [queryParams]="{email:email}"  routerLinkActive="active">Resume</a>
      <a routerLink="messages"  [queryParams]="{email:email}"  routerLinkActive="active">Messages</a>
      <a routerLink="jobs"  [queryParams]="{email:email}"  routerLinkActive="active">Jobs</a>
    </nav>
  </aside>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
