
<!-- src/app/features/student/jobs/jobs.component.html -->

<div class="container">
  <h2>Available Jobs</h2>

  <!-- Error -->
  <div class="error" *ngIf="error">{{ error }}</div>

  <!-- List -->
  <div class="job-list" *ngIf="jobs?.length; else noJobs">
    <div class="job-card" *ngFor="let job of jobs; trackBy: trackByJobId">

      <div class="job-details">
        <h3 class="job-title">{{ job.title }}</h3>
        <div class="job-info">
          
          <span><strong>Company:</strong> {{ job.companyName }}</span>
          <span><strong>Location:</strong> {{ job.location }}</span>

          <span *ngIf="job.education && job.education.trim()"><strong>Education Required:</strong> {{ job.education }}</span>
          <!-- If your model has skills as string, render it directly -->
          <span><strong>Skills:</strong> {{ job.skills }}</span>
          <span><strong>Description:</strong>{{job.description}}</span>
        </div>
      </div>

      <div class="job-actions">
        <span class="applied-label" *ngIf="job.applied">✅ Already Applied</span>
        <button
          class="btn apply-btn"
          *ngIf="!job.applied"
          [disabled]="isApplying(job.id)"
          (click)="apply(job.id)"
        >
          <ng-container *ngIf="isApplying(job.id); else applyText">
            Applying...
          </ng-container>
          <ng-template #applyText>Apply</ng-template>
        </button>
      </div>
      <div class="interview-actions">
        <span class="scheduled-label" *ngIf="!job.scheduled">❌ Not Scheduled</span>
        <button class="btn scheduled-btn" *ngIf="job.scheduled"  [disabled]="!job.scheduled" (click)="showSchedule(job.id)">
          <ng-container *ngIf="!job.scheduled; else scheduledText">Schedule </ng-container>
          <ng-template #scheduledText>Check Schedule</ng-template>
        </button>
      </div>

    </div>
  </div>

  <ng-template #noJobs>
    <div class="empty">No jobs available at the moment.</div>
  </ng-template>
</div>

<!--Scheduled Interview Modal -->
<div class="modal" *ngIf="showModal">
  <div class="modal-content">
    <h3>Interview Details</h3>
    <div>
      <div>
      <span> <strong> Date: </strong>{{interview.scheduledAt}}</span>
      </div>
      <div>
      <span><strong>Mode: </strong>{{interview.mode}}</span>
      </div>
      <div>
      <span><strong>LocationOrLink:</strong>{{interview.location}}</span>
      </div>
      <div>
      <span><strong>Status:</strong>{{interview.status}}</span>
      </div>
    </div>
    <div>
    <button class="btn apply-btn" (click)="closeModal()">Close</button>
    </div>
  </div>
</div>