<!-- Resume Upload Form and upload button-->

<h2>Update latest Resume</h2>
<p>Upload your resume here.</p>
<form [formGroup]="form" (submit)="onSubmit()">
  <input type="file" formControlName="resumeFile" (change)="onFileChange($event)" />
  <button type="submit">Upload</button>
  <input type="hidden" formControlName="email" [value]="email" />
</form>


<div class="container mt-4">

  <h2>Employee Resume</h2>
  <p *ngIf="fileName">File: <strong>{{ fileName }}</strong></p>

  <div *ngIf="loading" class="alert alert-info">
    Loading resume...
  </div>

  <div *ngIf="error" class="alert alert-danger">
    {{ error }}
  </div>

  <!-- PDF Preview -->
  <div *ngIf="fileUrl && fileType === 'application/pdf'" class="mt-3">
    <iframe [src]="fileUrl" width="100%" height="600px"></iframe>
  </div>

  <!-- DOCX Preview -->
  <div *ngIf="fileUrl && fileType !== 'application/pdf'" class="mt-3">
    <div class="alert alert-secondary">
      Resume preview is available only for PDF.  
      Click Download to open the file.
    </div>
  </div>

  <button class="btn btn-primary mt-3" (click)="download()" [disabled]="!fileUrl">
    Download Resume
  </button>
</div>
