
<!-- src/app/features/dashboard.component.html -->

<div class="dashboard">
  <!-- Top bar spanning full width -->
  <header class="topbar">
    <div class="topbar-left">
      <!-- You can show user name/email here if you like -->
      <span class="user-name">{{ userName }}</span>
      <span class="user-email">{{ email }}</span>
    </div>

    <button class="logout-btn" (click)="logout()">Logout</button>
  </header>

  <aside class="sidebar">
   
    <nav>
      <!-- Show these links ONLY for Admin -->
      <ng-container *ngIf="role === 'Admin'">
        <a routerLink="studentDetails" [queryParams]="{email:email}" routerLinkActive="active">Manage Students</a>
        <a routerLink="companyDetails" [queryParams]="{email:email}" routerLinkActive="active">Manage Companies</a>
        <a routerLink="reports" [queryParams]="{email:email}" routerLinkActive="active">View Reports</a>
      </ng-container>

      <!-- Show these links for student user -->
      <ng-container *ngIf="role == 'Student'">
        <a routerLink="profile" [queryParams]="{email:email}" routerLinkActive="active">Profile</a>
        <a routerLink="resume"  [queryParams]="{email:email}"  routerLinkActive="active">Resume</a>
        <a routerLink="jobs"  [queryParams]="{email:email}"  routerLinkActive="active">Jobs</a>
        <a routerLink="messages"  [queryParams]="{email:email}"  routerLinkActive="active">Messages</a>
      </ng-container>

      <!-- Show these links for normal Company -->
      <ng-container *ngIf="role == 'Company'">
        <a routerLink="postJobs" [queryParams]="{email:email}" routerLinkActive="active">Post Jobs</a>
        <a routerLink="interview"  [queryParams]="{email:email}"  routerLinkActive="active">Schedule interview</a>
        <a routerLink="messages"  [queryParams]="{email:email}"  routerLinkActive="active">Messages</a>
      </ng-container>
    </nav>
  </aside>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
